*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

main{
    border: 10px solid black;
    border-radius: 15px;
    width: 400px;
    height: 580px;
    display: flex;
    padding: 10px;
    margin: 8vw auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}

.screens
{
    width: 360px;
    height: 80px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5px;
    
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}

.screen{
    width: 350px;
    height: 79px;
    text-align: right;
    font-size: 72px;
    /* background-color: green; */

}

.smol{

    /* background-color: red; */
    width: 20px;
    height: 79px;
    font-size: 20px;
}

button{

    width: 85px;
    height: 85px;
    border: 5px solid black;
    border-radius: 5px;
    margin: 1px 1px;
    font-size: 32px;
    text-align: center;
    color: black;
    background-color:white;
    cursor: pointer;
    transition-duration: 0.4s;
    

}

button:hover{
    color: white;
    background-color:black;
}

.button:active { 
    transform: translateY(4px);
  }

.zero{
    width: 175px;
}
